<div class="session-manager">
	<div class="btn-group pull-left" style='padding: 10px'>
        <div>
			<button type="button" ng-switch on="session.activated" ng-class="{'btn btn-primary': session.activated, 'btn btn-default': !session.activated}" ng-repeat="session in sessions" ng-click="activateSession(session.endpointUUID)">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-switch-when=true></span>
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-switch-when=false></span>
				Session with {{session.remoteEndpointID}}
			</button>
        </div>
	</div>
	<p class="session-manager-title navbar-text pull-right ">Sessions</p>
</div>