<div treecontrol class="tree-light"
   tree-model="presenceData"
   options="treeOptions"
   on-selection="showSelected(node)"
   expanded-nodes="expandedNodes">
	   	<button type="button" class="btn btn-primary btn-xs" aria-label="Left Align" ng-show="(node.record && !node.self)"  ng-click="onCallClick(node.name)">
				  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" aria-label="expand record"></span>
		</button>						
	   {{node.name}} {{node.value ? ': ' + node.value : ''}}
</div>

