<div>
	<div class="panel panel-primary">
  		<div class="input-group">
	  		<input id="register-input" type="text" class="form-control input-sm"
					placeholder="Enter your ID here..." type="text" ng-model="registerVM.reguserid" ng-disabled="(registerVM.nextAction=='Unregister')"></input>
				<span class="input-group-btn">
					<button class="btn btn-primary btn-sm" id="btn-register" ng-click="registerVM.onRegClick(registerVM.reguserid)" ng-disabled="registerVM.invalid" focusInput=true>{{registerVM.nextAction}}</button>
				</span>
		</div>
	</div>
</div>
