<div class="endpoint-controls">
	<div class="btn-group-sm pull-left" style='padding: 10px'>
		<button id="btnDisconnectEndpoint" class='btn  btn-primary' ng-click="disconnect()" ng-hide=!controlDisconnect ng-disabled="(sessionState == 'session:stopped' || sessionState == 'session:failed')">
			<span aria-hidden="true" aria-label="Disconnect"></span>
			Disconnect
		</button>
		<button id="btnEnableAV" class='btn  btn-primary' ng-click="toggleAV()" focusInput=true ng-hide=!controlEnableAV ng-disabled="(sessionState == 'session:stopped' || sessionState == 'session:failed')">
			<span aria-hidden="true" aria-label="Enable A/V"></span>
			{{epCtrlAVConnected ? 'Disable A/V' : 'Enable A/V'}}
		</button>
	</div>

	<p class="endpoint-controls-title navbar-text pull-right" ng-switch on="sessionState">
		<span ng-switch-when="session:started">Connected to {{epCtrlRemoteEndpointID}}</span>
		<span ng-switch-when="session:stopped">Disconnected</span>
		<span ng-switch-when="session:alerting">Inbound call from {{epCtrlRemoteEndpointID}}</span>
		<span ng-switch-when="session:trying">Attempting to call {{epCtrlRemoteEndpointID}}</span>
		<span ng-switch-when="session:ringing">Call to {{epCtrlRemoteEndpointID}} is ringing</span>
		<span ng-switch-when="session:queued">Waiting in queue at: {{queueCount}}</span>
		<span ng-switch-when="session:failed">Call failed with reason: {{failureReason}}</span>
	</p>
</div>
